*{
    box-sizing: border-box;
}

p,div,body{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
margin: 0;
padding: 0;
}

a{
    color: rgb(70, 70, 70);
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    &:hover{
        color: black;
    }
}
ul{
    >li{
        list-style: none;
    }
}

