.app-header {
    height: 100%;
    padding: 1rem;
    overflow: hidden;
    background: linear-gradient(225deg, #f5f5f5, #e6fffb);
}

#logo {
    height: 4rem;
    cursor: pointer;
}

/* list of links */
.nav-header>li:not(:last-of-type) {
    position: relative;
    margin-right: 1rem;;
}
.nav-header>li:not(:last-of-type)::after{
    content: "";
    position: absolute;
    right:-0.5rem;
    height: 1.5rem;
    width: 1.5px;
    background-color: #e8e8e8;
}